.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 54px 20px;
  background: linear-gradient(
    180deg,
    var(--color-gradient-purple) 0%,
    var(--color-white) 37.5%,
    var(--color-gradient-purple) 100%
  );
  z-index: 1;
  overflow: hidden;
}

.sparkle-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.sparkle-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* 클릭 막기 */
}

.star-1-bg {
  position: absolute;
  top: 10px;
  right: 0;
  pointer-events: none; /* 클릭 막기 */
  z-index: -1; /* 배경 이미지가 다른 요소 뒤에 오도록 설정 */
}

.star-2-bg {
  position: absolute;
  bottom: -20px;
  left: -16px;
  width: 400px;
  pointer-events: none; /* 클릭 막기 */
  z-index: -1; /* 배경 이미지가 다른 요소 뒤에 오도록 설정 */
}

.image-container {
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 17px;
  border-bottom: 1px solid #999;
  background: var(
    --Gradient-Light-Blue,
    linear-gradient(0deg, #f3fbff 0.01%, #cbefff 100%)
  );
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.photo-zoom-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.image-wrapper:hover .photo-zoom-btn {
  opacity: 1;
}

/* 기본적으로 숨김 */
.hidden {
  display: none;
}

/* 모달 배경 딤 처리 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* 검정 반투명 배경 */
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content-container {
  position: absolute; /* fixed 말고 absolute, modal 내부니까 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 전체 덮음 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image-wrapper {
  position: relative;
  display: inline-block;
}

.modal-image-wrapper img {
  display: block;
  height: 100%;
  max-height: 80vh; /* 최대 높이 80vh */
  width: auto;
  max-width: 90vw;
  pointer-events: none;
  object-fit: contain;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

@media (max-width: 480px) {

  .main-container {
    padding: 38px 20px;
  }

  .sparkle-bg {
    width: auto !important;
    height: 100%;
  }

  .image-container {
    width: 100%;
  }

  .left-button,
  .right-button {
    position: absolute;
    bottom: 0;
    z-index: 2000;
  }

  .left-button {
    left: 60px;
  }

  .right-button {
    right: 60px;
  }

  .top-container {
    position: relative;
    width: 100%;
  }

  .top-container > img:nth-child(1) {
    width: 160px;
  }

  .top-container > img:nth-child(2) {
    width: 66px;
  }

  .image-wrapper {
    height: 390px;
  }

  .close-btn {
    top: 10px;
    right: 10px;
  }
}
